ColumnLimit: 120
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: AlignWithSpaces
AlignArrayOfStructures: Left
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AccessModifierOffset: -8
IndentCaseBlocks: false
IndentCaseLabels: false
AlignAfterOpenBracket: DontAlign
IncludeBlocks: Regroup
IncludeIsMainRegex: "a{999}" # no main includes
IncludeCategories:
  - Regex: "^<std"
    Priority: 0
    CaseSensitive: true
  - Regex: "^<glad/" # MUST come before SDL3
    Priority: 5
    SortPriority: 0
    CaseSensitive: true
  - Regex: "^<SDL3/"
    Priority: 5
    SortPriority: 10
    CaseSensitive: true
  - Regex: "^<S_"
    Priority: 20
    CaseSensitive: true
  - Regex: '^"K_'
    Priority: 50
    CaseSensitive: true
  - Regex: ".*"
    Priority: 999
