ColumnLimit: 120
IndentWidth: 8
ContinuationIndentWidth: 8
UseTab: AlignWithSpaces
AlignArrayOfStructures: Left
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
SpaceAfterCStyleCast: false
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AccessModifierOffset: -8
IndentCaseBlocks: false
IndentCaseLabels: false
AlignAfterOpenBracket: DontAlign
RemoveBracesLLVM: true
IncludeBlocks: Regroup
IncludeIsMainRegex: "a{999}" # no main includes
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: "^<std"
    Priority: 0
  - Regex: "^<glad/" # MUST come before SDL3
    Priority: 5
    SortPriority: 0
  - Regex: "^<SDL3/"
    Priority: 5
    SortPriority: 10
  - Regex: "^<S_"
    Priority: 20
  - Regex: "^<"
    Priority: 15
  - Regex: '^".+/K_'
    Priority: 60
  - Regex: '^"K_'
    Priority: 50
  - Regex: ".*"
    Priority: 100
