ColumnLimit: 120
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
IndentCaseLabels: true
AlignAfterOpenBracket: BlockIndent
SortIncludes: CaseSensitive
