Checks: |
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-reserved-identifier,
    performance-*,
    -performance-no-int-to-ptr,
    portability-*,
    misc-*,
    -misc-definitions-in-headers,
    -misc-unused-parameters,
    -misc-use-anonymous-namespace,
    -misc-non-private-member-variables-in-classes,
    cppcoreguidelines-init-variables
