{
    "printWidth": 120,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": [".clang*", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
