body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 1em;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9pt;
  line-height: 1.5;
  color: white;
  text-align: center;

  background-color: #2f2f2f;
}

a {
  color: #649ec5;
}

#canvas {
  aspect-ratio: 640 / 480;
  width: calc(min(640px, 100%));
  height: auto;

  outline: 1px solid gray;

  background-image: url(/assets/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
