$fg: #ffffff;
$bg: #2f2f2f;

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;

  padding: 1em;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9pt;
  line-height: 1.5;

  background: $bg;
  color: $fg;

  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#container {
  z-index: 1;
  padding: 1em;
  background: $bg; // the matrix stays behind this solid background and doesn't obstruct the view
}

footer {
  margin: 0.5em 0;
  text-align: center;
}

a {
  color: #649ec5;
}

#canvas {
  margin: 0 auto;
  outline: 1px solid gray;

  background-image: url(/assets/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

#error {
  margin: 1em auto;
  padding: 1em;
  width: fit-content;

  background-color: rgb(138, 8, 8);
}

#matrix {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  color: rgb(8, 138, 8);

  & > .error {
    color: rgb(138, 8, 8);
  }
}
