<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="sanity">
    <meta http-equiv="Content-Language" content="en">

    <title>Klawiatura</title>

    <style>
        body,
        html {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        body {
            display: flex;
            width: 100vw;
            height: 100vh;
        }

        #canvas {
            margin: auto;
        }
    </style>
</head>

<body>
    <canvas id="canvas" oncontextmenu="event.preventDefault()"></canvas>

    <script type="text/javascript">
        var Module = {
            canvas: document.getElementById("canvas"),
        };
    </script>

    <script async src="Klawiatura.js"></script>
</body>

</html>
