name: Build and release binaries

on:
  push:
    branches: [master]
    tags: [tracing, v*]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Build binaries for ${{ matrix.name }}
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - { name: Linux }
          - { name: WinXP, mingw: 32 }
          - { name: Win64, mingw: 64 }
    env:
      OUTNAME: Klawiatura-${{ github.ref_name == 'master' && 'dev' || github.ref_name }}-${{ matrix.name }}
      MINGW_ARCH: ${{ matrix.mingw == 32 && 'i686' || 'x86_64' }}
      MINGW_PACKAGES: >-
        g++-mingw-w64-${{ matrix.mingw == 32 && 'i686' || 'x86-64' }}
        gcc-mingw-w64-${{ matrix.mingw == 32 && 'i686' || 'x86-64' }}
      MINGW_SHEBANG: >-
        -D CMAKE_C_COMPILER=${MINGW_ARCH}-w64-mingw32-gcc
        -D CMAKE_CXX_COMPILER=${MINGW_ARCH}-w64-mingw32-g++
        -D CMAKE_RC_COMPILER=${MINGW_ARCH}-w64-mingw32-windres
        -D CMAKE_SYSTEM_NAME=Windows
        -D CMAKE_FIND_ROOT_PATH=/usr/${MINGW_ARCH}-w64-mingw32
        -D CMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER
        -D CMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY
        -D CMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY
    steps:
      - name: Silence `git init` warning
        run: git config --global init.defaultBranch master
      - name: Checkout
        uses: actions/checkout@v6
      - name: Source FMOD Core API
        run: |
          cd external/fmod; git init
          git remote add origin https://${{ secrets.EXTERNAL_TOKEN }}@github.com/${{ secrets.EXTERNAL_USER }}/fmod.git
          git pull origin master
      - name: Source Discord Social SDK
        run: |
          cd external/discord; git init
          git remote add origin https://${{ secrets.EXTERNAL_TOKEN }}@github.com/${{ secrets.EXTERNAL_USER }}/discord.git
          git pull origin master
      - name: Install dependencies
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          version: 1.1
          packages: >-
            python3-jinja2
            libasound2-dev libpulse-dev libaudio-dev libfribidi-dev libjack-dev
            libsndio-dev libx11-dev libxext-dev libxrandr-dev libxcursor-dev
            libxfixes-dev libxi-dev libxss-dev libxtst-dev libxkbcommon-dev libdrm-dev
            libgbm-dev libgl1-mesa-dev libgles2-mesa-dev libegl1-mesa-dev libdbus-1-dev
            libibus-1.0-dev libudev-dev libthai-dev libpipewire-0.3-dev libwayland-dev
            libdecor-0-dev liburing-dev
            ${{ matrix.mingw && env.MINGW_PACKAGES || '' }}
      - name: Cache build dir
        id: cache-build
        uses: actions/cache@v5
        with:
          path: build
          key: ${{ matrix.name }}-${{ github.ref_name }}-${{ hashFiles('CMakeLists.txt') }}
          restore-keys: |
            ${{ matrix.name }}-${{ github.ref_name }}-
            ${{ matrix.name }}-
      - name: Configure
        run: |
          cmake -G Ninja -S . -B build -D CMAKE_BUILD_TYPE=Release \
            ${{ matrix.mingw && env.MINGW_SHEBANG || '' }} \
            ${{ github.ref_name == 'tracing' && '-D NUTPUNCH_TRACING=1' || '' }} \
            -D CPACK_PACKAGE_FILE_NAME=${{ env.OUTNAME }}
      - name: Build
        run: cmake --build build --target Klawiatura
      - name: Package
        run: cmake --build build --target package
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          draft: ${{ github.ref_name != 'master' }}
          tag_name: ${{ github.ref_name == 'master' && 'dev' || github.ref_name }}
          prerelease: ${{ github.ref_name == 'master' }}
          files: build/${{ env.OUTNAME }}.zip
